.movie1 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.movie2 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.movie3 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.b1{
 font-weight: bold;
}


#list1 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 5px;
    padding-bottom: 10px;
}

#list2 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 5px;
    padding-bottom: 10px;
}

#list3 {
	border-bottom:1px solid rgb(0, 153, 255);
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }

	legend {
        font-size: 18px;
    }

    select {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    .movie1 { 	
		font-size: 14px;
	}

    .movie2 { 	
		font-size: 14px;
	}

    .movie3 { 	
		font-size: 14px;
	}

    .pic{
        max-width: 150%;   
    }
}


@media screen and (max-width: 800px) {
	h1 {
        font-size: 24px;
    }
    
    legend {
        font-size: 12px;
    }
    
    select {
        font-size: 10px;
    }

    input {
        font-size: 10px;
    }
    
    .movie1 { 	
		font-size: 10px;
        height: 190px;
	}
    
    .movie2 { 	
		font-size: 10px;
        height: 190px;
	}
    
    .movie3 { 	
		font-size: 10px;
        height: 190px;
	}

    .pic{
        max-width: 150%;  
    }
}